body {
  background-color: rgb(34, 34, 34);
  font-family: Montserrat, Arial, Helvetica, sans-serif;
}
main {
  width: 100%;
  height: calc(100vh - 60px);
  background-color: rgb(34, 34, 34);
  padding-top: 60px;
}

/* Header styling*/
.header-main {
  background-color: black;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 1000;
}

/* name styling*/
.header-main-name {
  width: fit-content;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  padding-left: 100px;
  margin-left: 100px;
}

.name {
  color: white;
  margin-right: 100px;
  font-weight: 500;
  font-size: 20px;
  transition: all 0.15s ease-in-out;
  cursor: pointer;
}

.name:hover {
  color: rgb(151, 145, 145);
}
.name:active {
  color: rgb(58, 154, 199);
}

/* navbar styling*/
.header-main-nav {
  width: fit-content;
  height: 100%;
  margin-right: 100px;
  flex-shrink: 0;
  margin-right: 100px;
}

.header-main-nav ul li {
  display: inline;
  float: left;
  margin-right: 20px;
}

.header-main-nav ul li a {
  color: white;
  line-height: 60px;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
  font-weight: 400;
}

.nav-link:hover {
  color: rgb(151, 145, 145);
}

.nav-link:active {
  color: rgb(58, 154, 199);
}

